.card {
  font-family: "Montserrat", sans-serif;
  max-width: 180px;
  margin: 10px 0;
}

.card-content {
  padding: 50px;
  background-color: #fff;
  border: 2px solid #d6e7f8;
  border-radius: 8px;
}

.recent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
