.home-container {
  /* display: inline-flex; */
  width: 100%;
  height: 100vh;
  padding: 0 5%;
}

.home-left-content {
  background-color: aqua;
  width: 25%;
  height: 80vh;
  text-align: center;
}

.home-center-content {
  background-color: blueviolet;
  width: 50%;
  text-align: center;
}

.home-right-content {
  background-color: aqua;
  width: 25%;
  height: 80vh;
  text-align: center;
}
