.landing-page__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25%;
  left: 37%;
  max-width: 400px;
  border-radius: 10px;
  background-color: #fff;
}
.landing-page__telegram-image {
  margin: 0 auto;
  padding-top: 10px;
}

.landing-page__headline {
  text-align: center;
}

.landing-page__subheader {
  text-align: center;
  color: #333;
}
