.btn-container {
  display: inline-flex;
  min-width: 100%;
  justify-content: space-around;
}

.fetch-btn {
  background-color: red;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid #333;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 5%;
  cursor: pointer;
}

.fetch-btn:active {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid #333;
  border-radius: 10px;
  font-weight: bold;
}
