.btn-container {
  display: inline-flex;
  min-width: 100%;
  justify-content: space-around;
}

.fetch-btn {
  background-color: aqua;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 5%;
  cursor: pointer;
}

.fetch-btn:active {
  background-color: rgb(86, 86, 86);
  color: #fff;
}
