.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
  margin-top: 1.5rem;
  text-align: center;
  list-style: none;
}

.search {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px 0;
}

.search-input {
  padding-left: 10px;
  width: 315px;
  height: 35px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid red;
}

.search-input:focus {
  outline: none;
}

.pokemon-detail {
  display: flex;
}

.page-controls {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 20px 50px;
}
