.container {
  display: flex;
  width: 100%;
  padding: 15px;
  text-transform: capitalize;
  justify-content: space-around;
  margin-top: 100px;
}

.wrapper {
  display: inline-flex;
  padding: 20px 70px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 6px #0000000f;
}

.detail-wrapper {
  padding-left: 40px;
  margin: auto 0;
}

.image-name {
  justify-content: space-between;
}

.name {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.move-list li {
  list-style: none;
}

.hp-color {
  color: red;
}

.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f4f4f4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #e2f9e1;
}
.water {
  background-color: #e0f1fd;
}
