.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  width: 100%;
  margin-top: 1.5rem;
  text-align: center;
  list-style: none;
}

.pokemon-detail {
  display: flex;
}
