/* .home-content-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 5% 2%;
} */

.main-container {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  padding: 13px 3%;
}

.left-content {
  flex-basis: 20%;
  align-self: flex-start;
}

.right-content {
  flex-basis: 80%;
  align-self: flex-start;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.list-item {
  list-style: none;
}
