* {
  font-family: "Montserrat", sans-serif;
}

.dropdown {
  width: 100%;
}

.dropdown-header {
  min-width: 150px;
  display: inline-flex;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(69, 73, 95);
  color: #fff;
  /* box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06); */
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-arrow span {
  font-size: 16px;
  border-left: 2px solid lightgray;
  padding-left: 10px;
}

.dropdown-list {
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  margin-top: 0.5rem;
  width: 12rem;
  border-radius: 10px;
}

.dropdown-header:hover {
  background-color: #333;
  color: #fff;
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

.dropdown-item:hover {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
}
