* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: linear-gradient(90deg, rgb(0,191,255) 0%, rgb(30,144,255) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav-left {
  margin-left: 50px;
}

.nav-right {
  margin-right: 50px;
}

.navbar-title {
  color: white;
  position: sticky;
}

.nav-menu li{
  display: flex;
  float: left;
  height: 60px;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  padding: 0 50px;
}

.signup-btn {
  background-color: #003366;
  color: #edf0f1;
  font-weight: bold;
  font-size: 16px;
  padding: 7px 12px;
  border-radius: 10px;
  border: none;
}
.signup-btn:hover {
  background-color: #1e90ff;
  padding: 8px 13px;
  font-weight: bold;
  font-size: 18px;
}






