.search-container {
  display: flex;
  justify-content: center;
}

.search {
  padding: 8px 5px;
  /* border: solid black 0.2rem;
  border-radius: 5px; */
  border: none;
  font-weight: 600;
}

.search:focus {
  outline: 0 !important;
}

.search-btn {
  margin-left: 8px;
  font-weight: 600;
  border: none;
  background-color: #2fbb4f;
}

.search-btn:hover {
  cursor: pointer;
}

.search-btn:active {
  background-color: #fff;
}
