.navbar {
  display: flex;
  width: 100%;
  padding: 0 15px;
  background-color: beige;
  justify-content: space-between;
  align-items: center;
}

.nav__title {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.nav__title span {
  color: rgb(0, 172, 229);
}

.nav__links {
  display: flex;
  width: 75%;
  justify-content: flex-start;
  list-style: none;
  font-weight: 500;
}

.nav__item {
  text-decoration: none;
  padding: 0 10px;
  color: rgb(113, 112, 112);
}

.right__nav__container {
  display: flex;
  min-width: 100px;
  align-items: center;
  justify-content: space-evenly;
}

.shopping__cart {
  color: #333;
}

.user__img__menu {
  color: #333;
}
