* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  min-height: 70vh;
  background: linear-gradient(#1e90ff 0%, rgb(0, 191, 255) 100%);
}

.page-header {
  margin: 0 auto;
}

.page-title span {
  color: #fff;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin: 10% 5% 0;
}

.cta-header h2 {
  font-size: 40px;
  word-spacing: 10px;
  text-align: left;
}

.cta-tagline span {
  color: #fff;
}

.images img {
  padding: 0 10px;
}

form {
  padding: 50px 0;
}
