* {
  box-sizing: border-box;
}

body {
  font-family: ;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  min-height: 70vh;
  background: linear-gradient(#1e90ff 0%, rgb(0, 191, 255) 100%);
}

.page-header {
  margin: 0 auto;
}

.page-title span {
  color: #fff;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin: 10% 5% 0;
}

.cta-header h2 {
  font-size: 40px;
  word-spacing: 10px;
  text-align: left;
}

.cta-tagline span {
  color: #fff;
}

.images img {
  padding: 0 10px;
}

form {
  padding: 50px 0;
}

.cta-form {
  position: absolute;
  left: 50%;
  max-width: 35%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  border-radius: 15px;
}

.cta-join-header {
  font-size: 50px;
  color: #333;
  margin-bottom: 0;
}

.cta-description {
  max-width: 80%;
  margin: 0 auto 50px;
  font-weight: normal;
}

.cta-description span {
  font-weight: bold;
  color: #fff;
}

.cta-email-cta {
  font-weight: 500;
}

.cta-form p {
  max-width: 60%;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.7em;
}

.cta-search {
  margin: 10px auto 0;
}
.cta-search span {
  color: #1e90ff;
}

.cta-shop span {
  color: #1e90ff;
}

.cta-save span {
  color: #1e90ff;
}

.cta-form-email {
  padding: 10px 0 10px 5px;
  margin-top: 0px;
  border-radius: 5px;
  border: none;
}

.cta-form-btn {
  display: inline-flex;
  margin: 0 auto;
}
