* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  min-height: 100vh;

  background: linear-gradient(#1e90ff 0%, rgb(0, 191, 255) 100%);
}

.page-header {
  margin: 0 auto;
}

.page-title span {
  color: #fff;
}

.main-content {
  display: flex;
  margin: 100px auto 0;
}

.cta-header h2 {
  word-spacing: 10px;
  text-align: center;
}

.cta-tagline span {
  color: #fff;
}
