.primary-btn {
  border: 2px solid #1e90ff;
  padding: 10px 18px;
  background-color: #1e90ff;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  max-width: 48%;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto 50px;
}

.primary-btn:hover {
  border-color: black;
  background-color: #fff;
  color: black;
  font-weight: 800;
  cursor: pointer;
}
