.primary-btn {
  border: 2px solid #1e90ff;
  padding: 2% 10%;
  background-color: #1e90ff;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
}

.primary-btn:hover {
  border-color: black;
  background-color: #fff;
  color: black;
  cursor: pointer;
}
