.follower-container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding: 0 20px;
}

.follower-card {
  width: 30%;
  display: flex;
  background-color: #333;
  padding: 10px;
  margin-left: 0;
  border-radius: 10px;
  text-decoration: none;
  align-items: center;
}

img {
  margin: 0 10px 0 !important;
}

.follower-avatar {
  /* border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(45deg, #8e2de2, #4a00e0); */
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.follower-username {
  font-weight: 600;
  font-size: 20px;
}

.follower-count {
  border-radius: 10px;
  background-color: rgb(84, 84, 84);
  padding: 10px 10px;
}
