.follower-container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding: 0 20px;
}

.follower-card {
  display: flex;
  background-color: #333;
  padding: 10px;
  margin-left: 0;
  border-radius: 10px;
  text-decoration: none;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .follower-card {
    margin-right: 23%;
  }
}

img {
  margin: 0 10px 0 !important;
}

.follower-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .follower-avatar {
    width: 50px;
    height: 50px;
  }
}

.follower-username {
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .follower-username {
    font-size: 12px;
  }
}

.follower-count {
  border-radius: 10px;
  background-color: rgb(84, 84, 84);
  padding: 10px 10px;
  max-width: 150px;
}

@media screen and (max-width: 768px) {
  .follower-count {
    border-radius: 5px;
    padding: 5px 5px;
  }
}
