.login-container {
  width: 100%;
}

.login-wrapper {
  display: flex;
  width: 300px;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin: 30vh auto 0;
}

img {
  margin: 0 auto;
}

.title {
  text-align: center;
  color: black;
  margin-top: 0;
}

.login-btn {
  margin: 10px auto;
}

.login-btn:hover {
  cursor: pointer;
}
/* 
.header {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 22px;
}

.auth-username {
  width: 70%;
  padding: 8px 3px;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 15px;
  font-size: 16px;
}

.auth-password {
  width: 70%;
  padding: 8px 3px;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 25px;
  font-size: 16px;
}

.auth-username:focus {
  outline: 0 !important;
}

.auth-password:focus {
  outline: 0 !important;
}

.divider-text {
  width: 70%;
  font-size: 12px;
  margin-bottom: 4px;
  text-align: center;
  margin: 10px auto;
}

.login-social-btn {
  padding: 8px 0;
}

.login-social-btn img {
  height: 10px;
  width: 10px;
}

img .facebook-img {
  height: 30px;
  width: 30px;
} */
