.repo-card-container {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  /* margin-left: 50px; */
  padding: 0 140px;
}

.repo-card {
  display: grid;
  width: 80%;
  grid-template-columns: 3fr 2fr 2fr 3fr 1fr;
  grid-column-gap: 10px;
  color: #fff;
  margin: 20px 0;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.repo-name {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.visibility {
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 5px 8px;
  color: #fff;
}

.view-btn {
  font-weight: 600;
  background-color: #2fbb4f;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  cursor: pointer;
}

.view-btn:active {
  background-color: #fff;
}
