.repo-container {
  margin: 0;
}

.main-content ul {
  width: 100%;
  list-style: none;
  text-decoration: none;
}

table {
  border-radius: 10px;
  width: 80%;
  margin: 0 50px;
  background-color: #fff;
  padding: 10px 0;
}
