.repo-card-container {
  display: flex;
  max-width: 70%;
  /* padding: 0 140px; */
}

.repo-card {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-column-gap: 10px;
  color: #fff;
  margin: 10px 0;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.repo-name {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .repo-name {
    font-size: 12px;
  }

  .language {
    font-size: 12px;
  }

  .description {
    font-size: 12px;
  }
}

.view-btn {
  font-weight: 600;
  background-color: #2fbb4f;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  cursor: pointer;
}

.view-btn:active {
  background-color: #fff;
}
