.header-container {
  display: flex;
  align-items: flex-start;
}

ul {
  padding: 0;
  width: 10%;
}

.tab-list {
  display: flex;
  flex-direction: column;
  margin: 9rem 2rem 2rem;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tab-item {
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: all 0.7s;
  font-weight: 600;
  color: #2b3137;
  opacity: 0.6;
  padding: 5px 18px;
}

.tab-list .active {
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: #24292d;
  background-color: #0d74e7;
}

.current-tab {
  margin: 4rem 2rem 2rem;
  min-width: 70%;
}

h4 {
  color: #fff;
  font-size: 1vw;
}

@media screen and (max-width: 768px) {
}
