.card-container {
  width: 100%;
  /* margin-left: 310px; */
}

.card {
  width: 40%;
  text-align: center;
  background-color: #333;
  padding: 15px 0;
  border-radius: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .card {
    margin: 0 18%;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    margin: 0 23%;
  }
}

.circle-avatar img {
  border: 1.5px solid #fff;
  border-radius: 50%;
}

.avatar {
  max-width: 150px;
  max-height: 150px;
}

@media screen and (max-width: 768px) {
  .avatar {
    max-width: 75px;
    max-height: 75px;
  }
}

.name {
  color: #fff;
  margin-bottom: 0;
}

.username {
  color: #fff;
  font-style: italic;
  font-weight: 400;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 16px;
  }

  .username {
    font-size: 12px;
  }
}
.description {
  color: #fff;
  padding: 0 10px 10px;
}

.user-stats {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-column-gap: 10px;
  color: #fff;
}

.user-stats h4 {
  font-weight: 400;
}

.user-stats p {
  font-weight: 600;
  font-style: italic;
}

.user-stats .text {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .user-stats p {
    font-size: 12px;
  }
}

.followers {
  border-radius: 10px;
  background-color: rgb(84, 84, 84);
  margin-left: 10px;
}

.following {
  border-radius: 10px;
  background-color: rgb(84, 84, 84);
}

.repos {
  border-radius: 10px;
  background-color: rgb(84, 84, 84);
  margin-right: 10px;
}
