.footer {
  min-height: 10vh;
  background: linear-gradient(#1e90ff 0%, rgb(0, 191, 255) 100%);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-title {
  padding-top: 20px;
}

.footer-title h1 {
  min-height: 10vh;
}

.footer span {
  color: #fff;
}
