.pop-up-container {
  position: fixed;
  z-index: 1;
  top: 55vh;
  left: 9.5vh;
  width: 40%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 15px;
}

.pop-up-content {
  color: black;
  font-size: 22px;
  text-align: left;
}

.pop-up-description span {
  color: #fff;
}

.close-btn {
  color: rgb(0, 0, 0);
}

.close-btn:hover {
  cursor: pointer;
  color: #fff;
}
